<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/Blog.css">
</head>
<nav>
    <li><a href="./index.html">Home</a></li>
    <li><a href="./WhoAmI.html">WhoAmI</a></li>
    <li><a href="./Projecten.html">Projecten</a></li>
    <li><a href="./Blog.html">Blog</a></li>
</nav>
<body>
    <b>Blog</b>
    <div>
        <p>Blog Post 1: Welkom bij mijn allereerste blogpost! Ik heb nog nooit eerder een blogpost geschreven dus bij voorbaad excuus dat uw oogbalen doet moeten meemaken. Voor nu zullen er alleen (semi) intressante verhalen komen te staan over mijn voortgang tijdens het programmeren van deze website en misschien een andere projecten waar ik aan werk.</p>
    </div>
</body>
</html>