<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/index.css">
</head>
<nav>
    <li><a href="./index.html">Home</a></li>
    <li><a href="./WhoAmI.html">WhoAmI</a></li>
    <li><a href="./Projecten.html">Projecten</a></li>
    <li><a href="./Blog.html">Blog</a></li>
</nav>
<body>
    <b>Home pagina</b>
    <div>Welkom op mijn website! Hier vindt u informatie over mij, mijn projecten en mijn blogposts.</div>
        <b>Contact informatie</b>
            <div class="flex-item">Telefoonnummer: +31 6 47 95 19 22</div>
            <div class="flex-item">Email: daandemaat@gmail.com</div>
            <div><li><a href="https://www.linkedin.com/in/daan-de-maat-a8b915394/">LinkedIn pagina</a></li></div>
</body>
</html>