<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styling/WhoAmI.css">
    <link rel="stylesheet" href="../styling/Navbar.css">
</head>
<body>
<h1 id="navbar"></h1>
<script src="../Scripts/loadNavbar.js"></script>
    <h1>WhoAmI</h1>
        <a href="../Frontend/assets/b1e7e934-c754-4eb7-a28b-8ee9f0ccdd05.jpeg" target="_blank">
        <img src="../Frontend/assets/b1e7e934-c754-4eb7-a28b-8ee9f0ccdd05.jpeg" alt="Profiel foto van Daan de Maat. Daan heeft kort bruin haar, draagt een bril en heeft een baard zonder bakkenbaarden" width="150" height="200">
    </a>
    <div>
        <p>Mijn naam is Daan de Maat en ik ben 22 jaar oud. Ik volg de opleiding tot software developer aan de Haagse Hogeschool en zit momenteel in leerjaar 2 semester 3.</p>
        <p>Ik woon in Den Haag en ben een enthousiaste software developer. Ik heb ervaring met werken met talen zoals python, javascript en java. Verder heb ik leren omgaan met programma's zoals Visual Paradigm, SQL, PowerBI en Trello.</p>
        <p>In mijn vrije tijd speel ik graag videogame of ben ik te vinden in mijn lokale sportschool. Ik vind het leuk om zowel samen met anderen te werken als even op mezelf te zijn en kan me makkelijk aanpassen aan veranderende situaties.</p>
    </div>
</body>
</html>